@font-face {
    font-family: 'Multi';
    src: url('../fonts/Multi.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Multi.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/Multi.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/Multi.ttf')  format('truetype'), /* Safari, Android, iOS */

  }
h1,h2,h3,h4,h5,h6,p,span {
    font-family: "Muli" !important;
}
body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    font-weight: normal;
    font-family: "Muli" !important;
}
.login_form{
    width:740px !important;
    height:450px !important;
}
input,
textarea {
    /* background-color: #F3E5F5; */
    /* border-radius: 50px !important; */
    /* padding: 12px 15px 12px 15px !important; */
    /* width: 100%; */
    /* box-sizing: border-box; */
    border: none !important;
    /* border: 1px solid #F3E5F5 !important; */
    /* font-size: 16px !important; */
    /* color: #000 !important; */
    /* font-weight: 400 */
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /* border: 1px solid #D500F9 !important; */
    outline-width: 0;
    font-weight: 400
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.card {
    border-radius: 0;
    border: none
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 20px
}

.card2 {
    width: 370px;
    background-color: #1c3d6d !important
}
h5.login_heading{
    font-weight: bold;
    font-size: 18px !important;
}
p.login_content{
    font-size: 15px;
    margin-left:3px;
}
h3.heading{
    font-size: 24px;
    font-weight: bold;
    color:#000000;
}
a{
    color:#1799D6 !important;
    font-weight: bold;
    font-size: 10px;
}
p.terms_conditions{
    font-size: 10px;
    color:#8B8A8A;
    margin-top: -20px;
}
p.policy{
    margin-top: -18px;
}
.form-field{
    margin-top: 60px;
}
.forgot_password{
    margin-right: -8px;
}
input::placeholder{
    font-size: 12px;
}
.floating-label {
    width: 290px;
    height: 38px;
    position:relative;
    border:1px solid #4c4848;  
    padding: 0px 5px;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  .error_border{
    border:1px solid #F13E3E;  
  }
  .error_message{
      color:black;
      font-weight: normal;
      font-size: 10px;
      padding:10px;
  }
  .floating-label label{
    position:absolute;
    left:5px;
    top:-10px;
    background:white;
    padding:0 10px;
    font-size: 10px;
  }
  .floating-input{
    width:90%;
    border:none;
    padding: 4px 14px;    
    outline:none;
  
  }
.heading {
    margin-bottom: 60px !important
}

::placeholder {
    color: #000 !important;
    opacity: 1
}

:-ms-input-placeholder {
    color: #000 !important
}

::-ms-input-placeholder {
    color: #000 !important
}

.form-control-label {
    font-size: 12px;
    margin-left: 15px
}

.msg-info {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: lighter;
}
.logo{
    margin-left:-60px !important;
}
.btn-color {
    border-radius: 3px;
    color: #fff;
    background-color: #94c73d;
    cursor: pointer;
    border: none !important;
    margin-top: 10px
}
.btn-block {
    display: block;
    width: 130px !important;
    height: 38px !important;
}
.btn-color:hover {
    color: #fff;
    background-color: #94c73d;
}

.btn-white {
    border-radius: 50px;
    color: #D500F9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #D500F9 !important
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #FFD54F, #D500F9)
}

.card0{
    border: 1px solid #1799D6 !important;
}
.bottom {
    width: 100%;
    margin-top: 10px !important;
    margin-left:7px;
    margin-bottom: 20px;
}

.sm-text {
    font-size: 15px
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px
    }

    .card2 {
        width: 100%
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px !important
    }

    .card2 {
        padding: 50px
    }

    .right {
        margin-top: 50px !important;
        margin-bottom: 50px !important
    }
}